Flows/Booking_Cancellation_to_Dealership.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Cancellation_Message_to_Slack_channel_for_Kolkata</name>
        <label>Send Cancellation Message to Slack channel for Kolkata</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>SendMessageToSlackChannel</actionName>
        <actionType>slackFlow</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>channelId</name>
            <value>
                <stringValue>C0B12HYPFU1</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>Slack_TestDrive_Cancellation_Message</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SendMessageToSlackChannel</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_Cancellation_Message_to_Slack_channel_for_Mumbai</name>
        <label>Send Cancellation Message to Slack channel for Mumbai</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>SendMessageToSlackChannel</actionName>
        <actionType>slackFlow</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>channelId</name>
            <value>
                <stringValue>C0B0H9QAT0T</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>Slack_TestDrive_Cancellation_Message</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SendMessageToSlackChannel</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_WhatsApp_Cancellation_Confirmation</name>
        <label>Send WhatsApp Cancellation Confirmation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>TwilioWhatsAppService</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>contentSid</name>
            <value>
                <stringValue>HX69201e2a0bc822dbd3ae4a9948c993c3</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contentVariables</name>
            <value>
                <elementReference>send_cancellation_message_via_whatsApp</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toNumber</name>
            <value>
                <elementReference>Get_Test_Drive_Record_ID_based_on_Service_Appointment_ID.Mobile_Number__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>TwilioWhatsAppService</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Checkpoint_on_Territory_Name</name>
        <label>Checkpoint on Territory Name</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Kolkata_Territory</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ServiceTerritory.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>kolkata</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Cancellation_Message_to_Slack_channel_for_Kolkata</targetReference>
            </connector>
            <label>Kolkata Territory</label>
        </rules>
        <rules>
            <name>Mumbai_Territory</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ServiceTerritory.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>mumbai</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Cancellation_Message_to_Slack_channel_for_Mumbai</targetReference>
            </connector>
            <label>Mumbai Territory</label>
        </rules>
    </decisions>
    <decisions>
        <description>005ak00000XyYrpAAF - Twilio Webhook Site Guest User (user initiated)
005ak00000XICxNAAX - OrgFram Epic User (dealer initiated)</description>
        <name>Checkpoint_to_understand_Status_updated_by_which_user</name>
        <label>Checkpoint to understand Status updated by which user</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User_initiated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LastModifiedById</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>005ak00000XyYrpAAF</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Checkpoint_on_Territory_Name</targetReference>
            </connector>
            <label>User initiated</label>
        </rules>
        <rules>
            <name>Dealer_initiated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LastModifiedById</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>005ak00000WEv5dAAD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_WhatsApp_Cancellation_Confirmation</targetReference>
            </connector>
            <label>Dealer initiated</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Normalized_PhoneNumber_for_WhatsApp</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!Get_Test_Drive_Record_ID_based_on_Service_Appointment_ID.Mobile_Number__c}, &quot;,&quot;, &quot;&quot;)</expression>
    </formulas>
    <interviewLabel>Booking Cancellation to Dealership {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Booking Cancellation to Dealership</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Test_Drive_Record_ID_based_on_Service_Appointment_ID</name>
        <label>Get Test Drive Record ID based on Service Appointment ID</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Checkpoint_to_understand_Status_updated_by_which_user</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service_Appointment_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Test_Drive__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Get_Test_Drive_Record_ID_based_on_Service_Appointment_ID</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>send_cancellation_message_via_whatsApp</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{ &quot;1&quot;: &quot;❌ *Your test drive has been cancelled from Dealer side due to some unavoidable situation. We sincerely apologize for the inconvenience.* \n\n📋 Booking ID: {!$Record.Id}\n\n📍 Dealership: {!$Record.ServiceTerritory.Name}\n\n📅 Was scheduled on: {!$Record.SchedStartTime}\n\nWould you like to *rebook* a new test drive? 🚗\n\nReply *Yes* to rebook or *No* if you are all set.&quot;}</text>
    </textTemplates>
    <textTemplates>
        <name>Slack_TestDrive_Cancellation_Message</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;❌🚗 *Test Drive Booking - CANCELLED* &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;❌&lt;/span&gt;&lt;/p&gt;&lt;p&gt;Vehicle Name: {!$Record.Vehicle_Asset_ID__r.Name}&lt;/p&gt;&lt;p&gt;Service Booking Appointment ID: {!$Record.Id}&lt;/p&gt;&lt;p&gt;Retailer Name: {!$Record.ServiceTerritory.Name}&lt;/p&gt;&lt;p&gt;Customer Name: {!Get_Test_Drive_Record_ID_based_on_Service_Appointment_ID.ParentRecord__r.FirstName} {!Get_Test_Drive_Record_ID_based_on_Service_Appointment_ID.ParentRecord__r.LastName}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please review. Thank you!&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>send_whatsApp_cancellation_text</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue> {   &quot;1&quot;: &quot;❌ *Your test drive has been cancelled from Dealer side due to some unavoidable situation. We sincerely apologize for the inconvinience.* 🙏\n\n📋 Booking ID: {!$Record.Id}\n\n📍 Dealership: {!$Record.ServiceTerritory.Name}\n\n📅 Was scheduled on: {!$Record.SchedStartTime}\n\nWould you like to *rebook* a new test drive? 🚗\n\nReply *Yes* to rebook or *No* if you are all set.&quot; }</stringValue>
        </value>
    </variables>
</Flow>
