Flows/Create_Test_Drive_Record.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Record_Trigger_Decision</name>
        <label>Record Trigger Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Record_Trigger</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Test_Drive</targetReference>
            </connector>
            <label>New Record Trigger</label>
        </rules>
        <rules>
            <name>Update_record_trigger</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Test_Drive_Record</targetReference>
            </connector>
            <label>Update record trigger</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Create Test Drive Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Test Drive Record</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Test_Drive</name>
        <label>Create Test Drive</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Address__City__s</field>
            <value>
                <elementReference>$Record.City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address__CountryCode__s</field>
            <value>
                <stringValue>IN</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address__GeocodeAccuracy__s</field>
            <value>
                <elementReference>$Record.GeocodeAccuracy</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address__PostalCode__s</field>
            <value>
                <elementReference>$Record.PostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address__StateCode__s</field>
            <value>
                <elementReference>$Record.State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address__Street__s</field>
            <value>
                <elementReference>$Record.Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Appointment_Type__c</field>
            <value>
                <elementReference>$Record.AppointmentType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Arrival_Window_End__c</field>
            <value>
                <elementReference>$Record.ArrivalWindowEndTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Arrival_Window_Start__c</field>
            <value>
                <elementReference>$Record.ArrivalWindowStartTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CancellationReason__c</field>
            <value>
                <elementReference>$Record.CancellationReason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>$Record.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Duration_Type__c</field>
            <value>
                <elementReference>$Record.DurationType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Duration__c</field>
            <value>
                <elementReference>$Record.Duration</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mobile_Number__c</field>
            <value>
                <elementReference>$Record.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentRecord__c</field>
            <value>
                <elementReference>$Record.ParentRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Scheduled_End__c</field>
            <value>
                <elementReference>$Record.SchedEndTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Scheduled_Start__c</field>
            <value>
                <elementReference>$Record.SchedStartTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Appointment_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject__c</field>
            <value>
                <elementReference>$Record.Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkTypeId__c</field>
            <value>
                <elementReference>$Record.WorkTypeId</elementReference>
            </value>
        </inputAssignments>
        <object>Test_Drive__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Update_Test_Drive_Record</name>
        <label>Update Test Drive Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service_Appointment_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Arrival_Window_End__c</field>
            <value>
                <elementReference>$Record.ArrivalWindowEndTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Arrival_Window_Start__c</field>
            <value>
                <elementReference>$Record.ArrivalWindowStartTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CancellationReason__c</field>
            <value>
                <elementReference>$Record.CancellationReason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Scheduled_End__c</field>
            <value>
                <elementReference>$Record.SchedEndTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Scheduled_Start__c</field>
            <value>
                <elementReference>$Record.SchedStartTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </inputAssignments>
        <object>Test_Drive__c</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Record_Trigger_Decision</targetReference>
        </connector>
        <object>ServiceAppointment</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
