Flows/Get_Vehicle_Names_and_store.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_HeaderText_to_outputVar</name>
        <label>Assign HeaderText to outputVar</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>output_VehicleNames3.headerText</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Select a model from the list of available models</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Vehicle_Name_to_outputVar</name>
        <label>Assign Vehicle Name to outputVar</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>output_VehicleNames3.modelNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AssetID.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssetID</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Get Vehicle Names and store {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Vehicle Names and store</label>
    <loops>
        <name>AssetID</name>
        <label>AssetID</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_All_vehicle_record_fields</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Vehicle_Name_to_outputVar</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_HeaderText_to_outputVar</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Fetch all the fields from asset</description>
        <name>Get_All_vehicle_record_fields</name>
        <label>Get All vehicle record fields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssetID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Installed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_All_vehicle_record_fields</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Input_VehicleAssetID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>AssetID.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>output_VehicleNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>output_VehicleNames2</name>
        <apexClass>Electra_VehicleOptions</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>output_VehicleNames3</name>
        <apexClass>Electra_VehicleOptions</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
