Flows/Service_Appointment_Creation.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Invalid_Phone_Number</name>
        <label>Invalid Phone Number</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Output_Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Please enter a valid 10-digit number</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>SA_Record_Assignment</name>
        <label>SA Record Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Output_BookingId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Create_Service_Appointment_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Output_Status</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Create_Service_Appointment_Record.Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Output_TDStartTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Service_Appointment_Record.ArrivalWindowStartTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Output_TDEndTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Service_Appointment_Record.ArrivalWindowEndTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Output_GoogleMapsUrl</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GoogleMapsUrl</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Output_dealershipaddress</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Service_Territory_Address.Street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Output_dealershipaddress</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Service_Territory_Address.City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Output_dealershipaddress</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Service_Territory_Address.State</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Output_dealershipaddress</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Service_Territory_Address.Country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Output_dealershipaddress</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Service_Territory_Address.PostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Output_Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Booking is completed Successfully</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Phone_Checker</name>
        <label>Phone Checker</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Invalid_Phone_Number</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Valid_Phone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PhoneLength</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>10.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_lead_Record</targetReference>
            </connector>
            <label>Valid Phone</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>PhoneLength</name>
        <dataType>Number</dataType>
        <expression>LEN(TEXT({!Input_userPhone}))</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Service Appointment Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Service Appointment Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Assigned_Resource_Record</name>
        <label>Create Assigned Resource Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SA_Record_Assignment</targetReference>
        </connector>
        <inputAssignments>
            <field>IsRequiredResource</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceAppointmentId</field>
            <value>
                <elementReference>Create_Service_Appointment_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceResourceId</field>
            <value>
                <elementReference>Input_ServiceResourceId</elementReference>
            </value>
        </inputAssignments>
        <object>AssignedResource</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Service_Appointment_Record</name>
        <label>Create Service Appointment Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Assigned_Resource_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>AppointmentType</field>
            <value>
                <stringValue>Test Drive</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ArrivalWindowEndTime</field>
            <value>
                <elementReference>Input_ScheduledEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ArrivalWindowStartTime</field>
            <value>
                <elementReference>Input_ScheduledStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>Get_Service_Territory_Address.City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country</field>
            <value>
                <elementReference>Get_Service_Territory_Address.Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Input_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DueDate</field>
        </inputAssignments>
        <inputAssignments>
            <field>Duration</field>
            <value>
                <numberValue>60.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DurationType</field>
            <value>
                <stringValue>Minutes</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EarliestStartTime</field>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Input_userEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentRecordId</field>
            <value>
                <elementReference>Input_leadId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Input_userPhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>Get_Service_Territory_Address.PostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SchedEndTime</field>
            <value>
                <elementReference>Input_ScheduledEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SchedStartTime</field>
            <value>
                <elementReference>Input_ScheduledStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceTerritoryId</field>
            <value>
                <elementReference>Input_ServiceTerritoryId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State</field>
            <value>
                <elementReference>Get_Service_Territory_Address.State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>Get_Service_Territory_Address.Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Input_Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vehicle_Asset_ID__c</field>
            <value>
                <elementReference>Input_Vehicle_asset_id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkTypeId</field>
            <value>
                <stringValue>08qak00000062TlAAI</stringValue>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Service_Territory_Address</name>
        <label>Get Service Territory Address</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Service_Appointment_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Input_ServiceTerritoryId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceTerritory</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_lead_Record</name>
        <label>Update lead Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Service_Territory_Address</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Input_leadId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Input_userEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Input_userPhone</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Phone_Checker</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>GoogleMapsUrl</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;https://www.google.com/maps?q={!Get_Service_Territory_Address.Latitude},{!Get_Service_Territory_Address.Longitude}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>Input_Description</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Input_leadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Input_ScheduledEndDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Input_ScheduledStartDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Input_ServiceResourceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Input_ServiceTerritoryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Input_Subject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Input_userEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Input_userPhone</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Input_Vehicle_asset_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Output_BookingId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Output_dealershipaddress</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Output_GoogleMapsUrl</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Output_Message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Output_Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Output_TDEndTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Output_TDStartTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
